<div class="container">
  <%= image_tag("logo.png") %>
  
  <hr>
  
  <div class="container">
    <div class="row"> 
        <% @articles.each_with_index do |article, i| %>
          <div class="col-3">
            <%= render partial: 'partials/article', locals: {article: article} %>
          </div>
        <% if (i+1)  % 3 == 0 %>
          <% if i == 2 %>
            <div class="col-3 ">
              <div class="follow">
                <h3>Follow Blog via Email and receive notifications from new posts</h3> 
                <%= form_with(model: Follower.new, url: followers_path, local: true) do |form| %>
                  <p>
                    <%= form.label :email %><br>
                    <%= form.email_field :email %>
                  </p>
                     <p>
                    <%= form.submit %>
                  </p>
                <% end %>               
              </div>
            </div>
          <% else %>
            <div class="col-3 ">
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

